<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.zeed.zqr" version="0.1" android-versionCode="0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ZQR-Generator</name>
  <description>Built with APK Builder</description>
  <author>APK Builder User</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="Fullscreen" value="false" />
  <preference name="Orientation" value="default" />
  <platform name="android">
    <allow-intent href="market:*" />
    <icon density="ldpi" src="res/icon.png" />
    <icon density="mdpi" src="res/icon.png" />
    <icon density="hdpi" src="res/icon.png" />
    <icon density="xhdpi" src="res/icon.png" />
    <icon density="xxhdpi" src="res/icon.png" />
    <icon density="xxxhdpi" src="res/icon.png" />
  </platform>
</widget>